.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 6rem;
  background-color: #fff5ec;
  position: relative;
}
.Item:nth-child(even) {
  background-color: #f6efff;
}
.heading {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 2rem;
}
.heading i {
  font-size: 3rem;
  margin-right: 2rem;
  color: var(--color-base);
}

.heading .heading__secondary {
  font-weight: 800;
  font-size: 3rem;
  display: inline-block;
}

.Item button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 5rem;
  transition: background-color 0.3s;
}

.Item button:hover {
  background-color: #45a049;
}

.message {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #2a0096;
  align-self: flex-start;
  min-height: 2.7rem;
}

@media screen and (max-width: 670px) {
  .Item {
    padding: 3rem;
  }

  .heading i,
  .heading .heading__secondary {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  .heading i,
  .heading .heading__secondary {
    font-size: 2rem;
  }
}
