.navigation {
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  z-index: 1000000;
  width: 100%;
  background: #fff;
  box-shadow: -1px 2px 14px -4px #2a265f33;
}

.navigation__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navigation__logo p {
  font-size: 2rem;
  font-weight: 700;
}

.navigation__nav {
  margin-left: auto;
}

.navigation__nav ul {
  display: flex;
  align-items: center;
}

.navigation__nav ul li {
  list-style: none;
}
.navigation__nav ul li:not(:last-child) {
  margin-right: 3rem;
}
.navigation__nav ul li a {
  text-decoration: none;
  padding: 0.5rem 0.2rem;
  font-size: 1.8rem;
  font-weight: 450;
  color: #2c2c2c;
  border-bottom: 0.2rem solid transparent;
  transition: all 0.3s ease-in-out;
}

.navigation__nav ul li a:hover {
  color: var(--color-base);
  border-bottom: 0.2rem solid var(--color-base);
}
.navigation__nav ul li a:hover {
  border-bottom: 0.2rem solid var(--color-base);
}

.navigation__nav ul li a.active {
  color: var(--color-base);
  font-weight: 600;
}

.navigation__toggle {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  color: #3a3a3a;
  cursor: pointer;
}
.navigation__toggle i {
  font-size: 3rem;
}
@media screen and (max-width: 850px) {
  .navigation {
    flex-direction: column;
    align-items: unset;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -1px 2px 14px -4px #2a265f33;
  }
  .navigation__toggle {
    display: block;
  }
  .navigation__nav {
    margin: unset;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .navigation__nav.active {
    display: block;
    height: 13.7rem;
  }
  .navigation__nav ul {
    flex-direction: column;
    margin-top: 1rem;
  }
  .navigation__nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .navigation__nav ul li:not(:last-child) {
    border-bottom: 2px solid #73727b17;
    margin-right: 0;
  }
}
